@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	font-family: 'Audiowide', cursive;
}
#head {
	background-color: #000012;
	height: 40px;
	color: whitesmoke;
	font-size: 20px;
	padding-bottom: 10px;
}
header li{
	list-style-type: none;
	display: inline;
	margin-left: 20px;
}
#Sein{
	font-size: 40px;
	color: #F40A5A;
	padding-left: 50px;
	margin-right: 700px;
}
#Sein:hover{
	color:blue;	
}
#Sein:hover #menudropdown{
	display:block;
}
#menudropdown{
	display: none;
	font-size: 25px;
	position:absolute;
	left: 50px;
	margin-top: 10px;
}
header ul {
	position: absolute;
}
#head{
	position:relative;
	z-index:100;
	opacity:0.6;
}
#head a:hover{
	opacity:inherit;
	color:yellow;
}
#s1{
	background-clip: content-box;
-webkit-background-clip: text;
	height: 700px;
	background-size: cover;
	font-size: 50px;
	color:ghostwhite;
}
#s1 p{
	padding-top: 200px;
}
#s1 h3{
	padding-top: 200px;
	font-size: 200px;
}
#s1 h6{
	padding-top: 50px;
	padding-left: 600px;
	color:#F40A5A;
}
#s1 h1{
	padding-top: 100px;
	color:ghostwhite;
}
#s2{
	background-color: #000012;
	height: 800px;
}
#s2r{
	float: right;
	width: 50%;
	color: white;
	padding-top: 150px;
}
#s2l{
	float: left;
	width:50%;
	padding-top: 100px;
}
#s2r button{
	padding: 10px;
	border-radius: 20px;
	background:#F40A5A;
	color:whitesmoke;
	margin-top: 20px;
	border: none;
}
#s2r button:hover{
	background-color: greenyellow;
	color: black;
}
#s2r h1{
	padding-bottom: 20px;
}
#s2r p{
	padding-bottom: 20px;
}
#s2r li{
	list-style-type: none;
}
.maudo{
	color: #F40A5A;
}
#s3{
	background-color: #000012;
	height: 500px;
	color: whitesmoke;
	text-align: center;	
	padding-top: 100px;
}
#s3h{
	padding-bottom: 50px;
	text-align: center;
	font-size: 60px;
}
#s31{
	float: left;
	width: 26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 200px;
	margin-left: 10%
}
#s32{
	float: left;
	width: 26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 200px;
	margin-left:1%;
}
#s33{
	float: right;
	width:26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 200px;
	margin-right: 9%;
}
#s3 img{
	padding-top: 25px;
}
#s3 h1:hover{
	color: #F40A5A;
}
#s4{
	text-align: center;
	color: whitesmoke;
	background-color: #000012;
	height: 1500px;
	
}
#s4d1 li{
	display: inline;
	padding-left: 20px;
}
#s4d1 button{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 18px;
	background:#F40A5A;
	color:whitesmoke;
	margin-top: 50px;
	border: none;
}
#s4d1 button:hover{
	background-color:yellowgreen;
}
#s4 h1{
	font-size: 50px;
}
#s4d2{
	height: 1000px;
}
#s4d1{
	padding-bottom: 100px;
}
#s4d1d1{
	height: 300px;
}
#s4d1d2{
	height: 300px;
	padding-top: 20px;
}
#d1 {
	float: left;
	width: 26%;
	background-image: url("bo-chen-firecracker-vayne-process.gif");
	height: 300px;
	background-size: cover;
	margin-left: 10%;
}
#d2 {
	float: left;
	width: 26%;
	height:300px;
	background-image: url("bo-chen-ij-riven-steps.gif");
	background-size: cover;
	margin-left: 1%
}
#d3 {
	float:right;
	width: 26%;
	height: 300px;
	background-size: cover;
	background-image: url("bo-chen-irelia-to-final.gif");
	margin-right: 10%;
}
#d4 {
	float: left;
	width: 26%;
	height: 300px;
	background-size: cover;
	background-image: url("bo-chen-pf-riven-steps.gif");
	margin-left: 10%
}
#d5 {
	float: left;
	width: 26%;
	height: 300px;
	background-size: cover;
	background-image: url("bo-chen-pool-party-splash-2018-to-final.gif");
	margin-left: 1%;
}
#d6 {
	float: right;
	width: 26%;
	height: 300px;
	background-size: cover;
	background-image: url("bo-chen-psy-ops-ezreal-steps.gif");
	margin-right: 10%
}
a {
	text-decoration:none;
	color: floralwhite;
	font-size: 30px;
	font-family: 'Audiowide', cursive;
}
#s4ft1{
	float: left;
	width: 16%;
	border-style:solid;
	border-color:navajowhite;
	height: 100px;
	margin-left: 10%;
	margin-right: 5%;
}
#s4ft2{
	float: left;
	width: 16%;
	border-style:solid;
	border-color:navajowhite;
	height: 100px;
}
#s4ft3{
	float: left;
	width: 16%;
	border-style:ridge;
	border-color:navajowhite;
	height: 100px;
	margin-left: 5%;
}
#s4ft4{
	float: right;
	width: 16%;
	border-style:ridge;
	border-color:navajowhite;
	height: 100px;
	margin-right: 10%;
}
#s5{
	color: whitesmoke;
	background-color: #000012;
	height: 800px;
}
#s5h{
	text-align: center;
	font-size: 50px;
	padding-bottom: 50px;
}
#s5d1{
	float: left;
	width: 35%;
	padding-right: 5%;
	padding-left: 10%;	
}
#s5d2{
	float: right;
	padding-right: 10%;
	width: 35%;	
}
#s5 fieldset{
	padding: 10px;
	margin: 20px;
}
#s6{
	color: whitesmoke;
	background-color: #000012;
	text-align: center;
	font-size: 60px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	height: 500px;
}
#s6 img{
	height: 200px;
}
#s6 h6{
	font-size: 15px;
	padding-left: 900px;
	padding-top: 50px;
}
#s7{
	color: whitesmoke;
	background-color: #000012;
	height: 1000px;
	text-align: center;
}
#s71{
	float: left;
	width: 30%;
	padding-left: 90px;
}
#s71 img{
	height: 500px;
}
#s72{
	float: left;
	width: 30%;
}
#s73{
	float: right;
	width: 30%;
	padding-right: 25px
}
#s73 img{
	height: 500px;
	padding-bottom: 20px;
}
#s7h{
	font-size: 80px;
	padding-bottom: 80px;
}
#s7 button{
	padding: 12px;
	border-radius: 20px;
	background:#F40A5A;
	color:whitesmoke;
	margin-top: 20px;
	border: none;
}
#s7 button:hover{
	background-color: yellowgreen;
	color:black;
}
#s8{
	height: 500px;
	color: whitesmoke;
	background-color: #000012;
}
#s8h{
	text-align: center;
	font-size: 60px;
	padding-bottom: 50px;
}
#d81{
	float: left;
	width: 39%;
	padding-left: 9%
}
#d81 h4{
	padding-left: 50px;
	padding-bottom: 20px;
}
#d81 i{
	font-size: 25px;
	color: #F40A5A;
}
#d81 h2{
	padding: 20px;
}
#d82{
	float: right;
	width: 39%;
	border-style:inset;
	padding: 16px;
	margin-right: 9%
}
#d82 input{
	padding: 10px;
	margin-bottom: 15px;
	margin-right: 20px;
	background-color: #000012;
	color: white;
}
#d82 textarea{
	padding: 10px;
	background-color: #000012;
	border-color:#F40A5A;
	color: white;
}
#s8 button{
	padding: 12px;
	border-radius: 20px;
	background:#F40A5A;
	color:whitesmoke;
	border: none;
	padding-left: 200px;
	padding-right: 200px;
}
#s8 button:hover{
	background-color: yellowgreen;
	color:black;
}
footer{
	text-align: center;
	color: whitesmoke;
	background-color: #000012;
	height: 50px;
}
#uptop{
	position: fixed;
	font-size:40px!important;
	float: right;
	padding: 10px;
	background-color:#000012;
	color:yellow;
	border-radius: 20px;
	opacity: 0.6;
	border: none;
	left: 95%;
	top: 90%;
	display: none;	
	z-index: 100;
}
#video_background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.wrapper {
  margin-left: 5%;
  margin-top: 5%;
}
.wrapper h1 {
  font-size: 50px;
  margin-top: 0;
}
.wrapper h3 {
  margin-bottom: 0;
}
.wrapper span {
  display: inline-block;
  text-align: left;
  font-size: 26px;
}
.wrapper img {
  width: 40px;
  margin: 80px 10px 0px 10px;
}
.wrapper a {
  color: white;
  margin: 20px;
}
.wrapper i {
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
}
.wrapper .social {
  position: relative;
  margin-top: 50px;
}

span.cursor {
  font-size: 35px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@media (max-width: 768px) {
  .wrapper h1 {
    font-size: 34px;
  }
  .wrapper h3 {
    font-size: 28px;
  }
  .wrapper span {
    font-size: 22px;
  }
  .wrapper .social {
    text-align: center;
  }
  .wrapper .social i {
    font-size: 22px;
  }
  .wrapper .social a {
    margin: 5px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
