@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	font-family: 'Audiowide', cursive;
}	
#head {
	background-color: transparent;
	height: 2em;
	color: whitesmoke;
	font-size: 2em;
	display: block;
	text-decoration: none;
}
#menu{
	position: relative;
}
#menu:hover{
	background: #000012;

}
header li{
	list-style-type: none;
	display: inline;
	margin-left: 20px;
}
#Sein{
	font-size: 40px;
	color: #F40A5A;
	padding-left: 0.6em;
	margin-right: 17em;
}
#Sein:hover{
	color:blue;	
}
#Sein:hover #submenu{
	display:block;
}
#submenu{
	display: none;
	position:absolute;
	background: #000012;
	color: red;
}
#submenu li{
	display:inherit;
}
#head{
	z-index:100;
	opacity:0.6;
}
#head a:hover{
	opacity:inherit;
	color:yellow;
}
#s1{
	background-clip: content-box;
-webkit-background-clip: text;
	height: 75vh;
	background-size: cover;
	font-size: 3em;
	color:ghostwhite;
}
#s1 p{
	padding-top: 1em;
}
#s1 h1{
	padding-top: 1em;
	color:ghostwhite;
	font-family: 'Audiowide', cursive;
}
#s2{
	background-color: #000012;
	height: 100vh;
}
#s2r{
	float: right;
	width: 50%;
	color: white;
	padding-top: 10%;
}
#s2l{
	float: left;
	width:50%;
	padding-top: 8%;
}
#s2r button{
	padding: 1em;
	border-radius: 5em;
	background:#F40A5A;
	color:whitesmoke;
	margin-top: 2em;
	border: none;
}
#s2r button:hover{
	background-color: greenyellow;
	color: black;
}
#s2r h1{
	padding-bottom: 1em;
}
#s2r p{
	padding-bottom: 1em;
}
#s2r li{
	list-style-type: none;
}
.maudo{
	color: #F40A5A;
}
#s3{
	background-color: #000012;
	height: 80vh;
	color: whitesmoke;
	text-align: center;	
	padding-top: 10%;
}
#s3 p{
	padding-top: 7em;
}
#s3h{
	padding-bottom: 2em;
	text-align: center;
	font-size: 4em;
}
#s31{
	float: left;
	width: 26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 20vh;
	margin-left: 10%
}
#s32{
	float: left;
	width: 26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 20vh;
	margin-left:1%;
}
#s33{
	float: right;
	width:26%;
	border-width: 3px;
	border-style:dashed;
	border-color: aqua;
	height: 20vh;
	margin-right: 9%;
}
#s3 img{
	padding-top: 1em;
}
#s3 h1:hover{
	color: #F40A5A;
}
#s4{
	text-align: center;
	color: whitesmoke;
	background-color: #000012;
	height: 160vh;
	position: relative;
}
#s4 a{
	font-size: 2em;
}
span.counter{
	font-size: 50px;
}
#s4d1 li{
	display: inline;
	padding-left: 20px;
}
#s4d1 button{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 18px;
	background:#F40A5A;
	color:whitesmoke;
	margin-top: 50px;
	border: none;
}
#s4d1 button:hover{
	background-color:yellowgreen;
}
#s4 h1{
	font-size: 50px;
}
#s4d2{
	height: 1000px;
}
#s4d1{
	padding-bottom: 100px;
}
#s4d1d1{
	height: 300px;
}
#s4d1d2{
	height: 300px;
	padding-top: 20px;
}
#d1 {
	float: left;
	width: 26%;
	background-image: url("bo-chen-firecracker-vayne-process.gif");
	height: 33vh;
	background-size: cover;
	margin-left: 10%;
}
#d2 {
	float: left;
	width: 26%;
	height:33vh;
	background-image: url("bo-chen-ij-riven-steps.gif");
	background-size: cover;
	margin-left: 1%
}
#d3 {
	float:right;
	width: 26%;
	height: 33vh;
	background-size: cover;
	background-image: url("bo-chen-irelia-to-final.gif");
	margin-right: 10%;
}
#d4 {
	float: left;
	width: 26%;
	height: 33vh;
	background-size: cover;
	background-image: url("bo-chen-pf-riven-steps.gif");
	margin-left: 10%
}
#d5 {
	float: left;
	width: 26%;
	height: 33vh;
	background-size: cover;
	background-image: url("bo-chen-pool-party-splash-2018-to-final.gif");
	margin-left: 1%;
}
#d6 {
	float: right;
	width: 26%;
	height: 33vh;
	background-size: cover;
	background-image: url("bo-chen-psy-ops-ezreal-steps.gif");
	margin-right: 10%
}
a {
	text-decoration:none;
	color: floralwhite;
	font-size: 0.9em;
	font-family: 'Audiowide', cursive;
}
#s4ft1{
	float: left;
	width: 16%;
	border-style:solid;
	border-color:navajowhite;
	height: 7em;
	margin-left: 10%;
	margin-right: 5%;
}
#s4ft2{
	float: left;
	width: 16%;
	border-style:solid;
	border-color:navajowhite;
	height: 7em;
}
#s4ft3{
	float: left;
	width: 16%;
	border-style:ridge;
	border-color:navajowhite;
	height: 7em;
	margin-left: 5%;
}
#s4ft4{
	float: right;
	width: 16%;
	border-style:ridge;
	border-color:navajowhite;
	height: 7em;
	margin-right: 10%;
}
#s5{
	color: whitesmoke;
	background-color: #000012;
	height: 100vh;
}
#s5h{
	text-align: center;
	font-size: 4em;
	padding-bottom: 2em;
}
#s5d1{
	float: left;
	width: 35%;
	padding-right: 5%;
	padding-left: 10%;	
}
#s5d2{
	float: right;
	padding-right: 10%;
	width: 35%;	
}
#s5 fieldset{
	padding: 1em;
	margin: 1em;
}
#s6{
	color: whitesmoke;
	background-color: #000012;
	text-align: center;
	font-size: 3em;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	height: 60vh;
}
#s6 img{
	height: 30vh;
}
#s6 h6{
	font-size: 0.4em;
	padding-left: 35%;
	padding-top: 2%;
}
#s7{
	color: whitesmoke;
	background-color: #000012;
	height: 95vh;
	text-align: center;
}
#s7 button:hover{
	background-color: yellowgreen;
	color:black;
}
#s8{
	height: 60vh;
	color: whitesmoke;
	background-color: #000012;
}
#s8h{
	text-align: center;
	font-size: 4em;
	padding-bottom: 2em;
}
#d81{
	float: left;
	width: 39%;
	padding-left: 9%
}
#d81 h4{
	padding-left: 2em;
	padding-bottom: 1em;
}
#d81 i{
	font-size: 1em;
	color: #F40A5A;
}
#d81 h2{
	padding: 1em;
}
#d82{
	float: right;
	width: 39%;
	border-style:inset;
	padding: 1em;
	margin-right: 9%
}
#d82 input{
	padding: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	background-color: #000012;
	color: white;
}
#d82 textarea{
	padding: 1em;
	background-color: #000012;
	border-color:#F40A5A;
	color: white;
}
#s8 button{
	padding: 1em;
	border-radius: 5em;
	background:#F40A5A;
	color:whitesmoke;
	border: none;
	padding-left: 5em;
	padding-right: 5em;
}
#s8 button:hover{
	background-color: yellowgreen;
	color:black;
}
footer{
	text-align: center;
	color: whitesmoke;
	background-color: #000012;
	height: 7vh;
}
#uptop{
	position: fixed;
	font-size:2em!important;
	float: right;
	background-color:#000012;
	color:yellow;
	border-radius: 20px;
	opacity: 0.6;
	border: none;
	left: 95%;
	top: 90%;
	display: none;	
	z-index: 100;
}
#video_background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.wrapper {
  margin-left: 5%;
  margin-top: 5%;
}
.wrapper h1 {
  font-size: 50px;
  margin-top: 0;
}
.wrapper h3 {
  margin-bottom: 0;
}
.wrapper span {
  display: inline-block;
  text-align: left;
  font-size: 26px;
}
.wrapper img {
  width: 40px;
  margin: 80px 10px 0px 10px;
}
.wrapper a {
  color: white;
  margin: 20px;
}
.wrapper i {
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
}
.wrapper .social {
  position: relative;
  margin-top: 50px;
}
span.cursor {
  font-size: 35px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@media (max-width : 320px ){
  .wrapper h1 {
    font-size: 34px;
  }
  .wrapper h3 {
    font-size: 28px;
  }
  .wrapper span {
    font-size: 22px;
  }
  .wrapper .social {
    text-align: center;
  }
  .wrapper .social i {
    font-size: 22px;
  }
  .wrapper .social a {
    margin: 5px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}
.item-1 {
  background-image:url("rossdraws-eye-baaal.jpg")
}
.item-2 {
  background-image: url("rossdraws-sunkissed-faye-portrait-web-2.jpg")
}
.item-3 {
  background-image: url("sean-tay-cirisigned.jpg")
}
.item-4 {
  background-image: url("digital-art-anime-girls-fantasy-art-archer-wallpaper-c950187dd19acddb2607586fb091c60d.jpg")
}
.item-5 {
  background-image: url("wallpaperflare.com_wallpaper (1).jpg")
}
.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}
.social img {
  display: block;
  width: 32px;
}
@media (max-width : 320px ){
	#menu{
		display: none;
	}
	#s2l img{
		height: 30vh;
		width: 30vh;
		margin-left: 45%;
	}
	#s2r{
		float: inherit;
		width: 30vh;
		height: 50vh;
		margin-right: 10%;
		margin-top: 40%;
	}
}
