@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding:0px; 
}
header{
	background-image: url(hardy-fowler-alley.jpg);
	background-size: cover;
	height: 700px;
	color: black;
	text-align: center;
	padding-top: 300px;
	font-size: 50px;
}
header i{
	padding-left: 10px;
	color: white;
	font-size: 30px!important;		
}
#top{
	background: #000000;
	height: 600px;
	color: white;
}
#top img{
	float: left;
	width: 50%;
}
#top p{
	width: 50%;
	float: right;
	padding-top: 100px;
	text-align: center;
}
#top h1{
	padding-top: 50px;
	text-align: center;
}
